h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
}
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    width: 20px;
    display: inline;
}
.one{
    color:blue;
}
.img{
    display:flex;
    align-items:center;
}
li{
    color: brown;
    text-size-adjust: 20px;
}
.g{
    margin-right: 0px;
    margin-left: 50px;
}
/* boxes in css */
.hai{
    border:1px solid black;
    max-width: 800px;
    min-width: 200px;
    max-height: 300px;
    min-height: none;
    /* overflow:scroll; */
    border-width: 2px;
    border-style:outset;
    border-top-width:3px;
    border-bottom-width:3px;
    background-color:aquamarine;
    padding:10px;
    margin:10px;
    border-radius:20px;
    box-shadow:0px 0px 5px palevioletred;
    border:20px solid;
    border-image: url(/media/download.png) 30 stretch;
}